@model QuestRoom.Types.Cost[]
<h4>@Resources.Strings.Cost</h4>
<table class="blocks-table costs">
    <tr>
        <th></th>
        <th>@Resources.Strings.MonThru</th>
        <th>@Resources.Strings.FriSat</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td class="first">@string.Format("{0} {1}", c.Persons, Resources.Strings.Pers)</td>
            <td>@string.Format("{0} {1}", c.Workdays, Resources.Strings.Rub)</td>
            <td>@string.Format("{0} {1}", c.Weekends, Resources.Strings.Rub)</td>
        </tr>
    }
</table>

