@using System.Threading
@{
    ViewBag.Title = Resources.Strings.Contacts;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="yellow">@Resources.Strings.Contacts</h3>
        <p>@Resources.Strings.Address: @Resources.Strings.QuestAddress</p>
        <p>@Resources.Strings.Phone: @Resources.Strings.PhoneNmb</p>

        @{
            var threadCulture = Thread.CurrentThread.CurrentCulture;
            var viewPostfix = threadCulture.Name == "en-US" ? ".en" : string.Empty;
        }
        
        @Html.Partial("_Contacts" + viewPostfix)

        <h4 style="margin-top: 20px;">@Resources.Strings.Map:</h4>
        <div style="height: 450px;">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Ws2W3pTCUQjZsLI5RTARHVAQ0-em8Y5V&width=600&height=450"></script>
        </div>
        <div style="margin-top: 20px;">
            <img style="width: 600px;" src="@Url.Content("~/Content/Images/map.jpg")" alt=""/>
        </div>

    </div>
</div>

    
