@model dynamic

@{
    ViewBag.Title = Resources.Strings.About;
}

@section Head
{
    <style type="text/css">
        p { 
            text-align: justify;
        }
    </style>
}
@*<div class="row">
    <div class="col-md-10 col-md-offset-1" style="background-color: green;">
        <div style="position: fixed; background-color: red;">test wertwe rt wert wert wert 45675467546754675467wert </div>
    </div>
</div>*@


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @*<ul class="nav nav-tabs" data-spy="affix" data-offset-top="195">
            <li class="active"><a href="#one">Section One</a></li>
            <li><a href="#two">Section Two</a></li>
            <li><a href="#three">Section Three</a></li>
        </ul>*@
        
        <h3 class="yellow">Что такое «квесты в реальности»?</h3>
        <p>
            «Квест»… Первая ассоциация – это компьютерная игра. Так и есть, только вы не сидите с
            «мышкой» перед экраном компьютера, а принимаете сами участие в игре. Поверьте, это
            же гораздо интереснее! Быть непосредственно вовлеченными в процесс… Нужно самому
            двигаться, колдовать, трогать, искать и найти! Ведь именно в этом суть «экшена» игры:
            разгадать головоломки, обезвредить бомбу, спастись из безвыходной ситуации, «выйти
            сухим из воды» или спасти мир – да! Да! И это то, малое, что вы можете осуществить
            играя.
        </p>
        <p>
            <div class="img-thumbnail pull-left" style="margin-right: 10px;">
                <img src="@Url.Content("~/Content/Images/q1.jpg")"/>
            </div>
            Реальность… Максимально смоделированная ситуация…. Вы погружены в реальную
            катастрофу и у вас нет ни джойстика, ни клавиатуры …. Только вы и ваши способности,
            умственные и физические, рассчитывать приходиться только на них, ведь это все
            происходит с вами и сейчас, и время не ждет. Вот это уже не шутки.
        </p>
        <p>
            Хотите испытать себя в действии?! Вперед! Найдите убийцу в «квесте»
            @Html.ActionLink("«Будуар»", "Index", "Info", null, null, "quest1", null, null)
            ,вспомните все -
            @Html.ActionLink("«Похмелье»", "Index", "Info", null, null, "quest7", null, null)
            , спасите себя и друзей после катастрофы -
            @Html.ActionLink("«Крушение самолета»", "Index", "Info", null, null, "quest2", null, null)
            , а может быть вам всегда интересно было узнать, что по ту сторону жизни -
            @Html.ActionLink("«Офис Д…»", "Index", "Info", null, null, "quest9", null, null)
            , что почувствуете, узнав, что среди вас предатель -
            @Html.ActionLink("«Двойной агент»", "Index", "Info", null, null, "quest5", null, null)
            . Исход событий зависит от вас! Все решения принимаете именно вы, а не Брюс Уиллис….
            Обезвредить бомбу на последней минуте… почувствуй себя Крепким орешком!
        </p>
        <p>
            НО… каждая игра это правда, она существует! Здесь и сейчас! У вас ограниченное время
            на решение задачи… в реальном мире бомба не ждет, а взрывается!!!
        </p>
        <h3 class="yellow">Специфика «квестов в реальности»</h3>
        <p>
            <div class="img-thumbnail pull-right" style="margin-left: 10px;">
                <img src="@Url.Content("~/Content/Images/q2.jpg")" />
            </div>
            Все как в реальности. Вы сами выбираете историю: детектив, фантастику, а может быть
            триллер или ужастик. Мы создаем антураж, погрузившись в который, вы не сможете не
            поверить в реальность происходящего…
        </p>
        <p>
            Открыв дверь в комнату, вы попадете в мир таинственных событий… Звуки, запахи, свет,
            ощущения - все будет погружать вас в реальность ситуации. Мы максимально
            задействуем все ваши органы чувств, и вы станете участником загадочных и напряженных
            обстоятельств. И вам придется использовать все свое умение, смекалку, интуицию и
            находчивость, чтобы узнать тайну или избежать погибели.
        </p>
        <p>
            Элемент игры, конечно останется, но только по вашему желанию. Есть кнопка, нажав на
            которую, вы получите подсказку. Это поможет пройти «квест» как новичкам, кто ни разу
            не имел дело с «он-лайн» играми, так и «профи», которые выбрали слишком сложный
            уровень.
        </p>
        <p>
            В любой игре важен процесс. Не бойтесь, что вы можете ошибиться, выбрав высокий
            уровень сложности. Всегда можно использовать вторую попытку. Сыграйте еще раз и
            вырвите победу!
        </p>
        <p>
            Пожалуй, одно из основных общих свойств с компьютерной игрой это удовольствие не
            только от победы, но и от процесса. Мы очень просим не оставлять отзывы, которые
            раскрывают суть игры - они будут удалены. Важны ваши впечатления, ведь каково
            чувство удовлетворения, когда ты додумался до всего САМ, без подсказки предыдущих
            игроков!
        </p>
        <p>
            Ни в коем случае не корректируем ни положительные ни отрицательные оценки в
            отзывах. Потому что мы хотим, что бы все было честно и искренне. Каждый выбирает те
            игры, которые ему интересны и в которых он сможет проявить максимум своих
            возможностей. Ваши впечатления и советы важны для нас.
        </p>
        <h3 class="yellow">Кому понравятся «квесты в реальности» ?</h3>
        <p>
            «Вся наша жизнь – игра…» Это увлечет всех! Мы живем и всегда играем, но, наверное,
            не так остро и напряженно как это будет в «квесте».
        </p>
        <p>
            <div class="img-thumbnail pull-left" style="margin-right: 10px;">
                <img src="@Url.Content("~/Content/Images/q5.jpg")" />
            </div>
            Опытным игрокам будет интересно сыграть в 5D – пережить все действие в реальной
            обстановке и времени.
        </p>
        <p>
            Для новичков – необыкновенное приключение, они даже не представляют, что их
            ожидает.
        </p>
        <p>
            Не забудьте про своих родителей. Да, да, мы не шутим…И вы это поймете, когда увидите
            блеск в их глазах во время игры.
        </p>
        <p>
            Младшие братья и сестры, вот то место, где все получат удовольствие от совместного
            времяпрепровождения.
        </p>
        <p>
            Отметьте день рождения, соберите опять всех старых друзей вместе. Сделайте подарок
            им и себе.
        </p>
        <p>
            Не забываем и о коллегах. Все-таки интересно, кто из них, на что способен в
            экстремальной ситуации - неплохое начало для корпоратива.
        </p>
        <p>
            А еще это прекрасное совместное развлечение с вашими детьми, за детской логикой так
            интересно наблюдать. Вы поймете, на что способны ваши дети!
        </p>
        <p>
            Так же мы предлагаем отличную возможность для вашего работодателя организовать
            активный отдых для сотрудников. У вас есть возможность оставить заявку.
            @Html.ActionLink("Бронирование.", "Index", "Booking", null, null, null, null, null)
            В комментариях укажите свои пожелания по времени и условиям. Наш оператор свяжется
            с вами и предложит подходящую для вас игру.
        </p>
        <p>
            Welcome!!! Рады всем и каждому!
        </p>
    </div>
</div>