@using System.Threading
@using System.Web.Optimization
@using Newtonsoft.Json
@using QuestRoom.Models
@using QuestRoom.Types
@using Resources
@model SchedulesViewModel
@{
    ViewBag.Title = Strings.Shedule;
}

@section Head{
    @Styles.Render("~/Content/schedule")

    <script type="text/javascript">
        window.lang = '@Thread.CurrentThread.CurrentCulture.Name';
        window.selectedDate = new Date(@Html.Raw(JsonConvert.SerializeObject(Model.SelectedDate)));
        window.startDate = new Date(@Html.Raw(JsonConvert.SerializeObject(DateTime.Now)));
        window.endDate = new Date(@Html.Raw(JsonConvert.SerializeObject(DateTime.Now.AddMonths(1))));
    </script>
}

@foreach (var b in Model.QuestSchedules)
{
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-4 col-md-offset-1 col-sm-5 col-lg-3 col-lg-offset-1">
            <a class="anchor" name="@string.Format("quest{0}", b.Quest.Id)"></a>
            <div class="img-thumbnail thumbnail-with-text">
                <a href="@Url.RouteUrl("Quests", new {id = b.Quest.Id})">
                    <img src="@Url.Content("~/Content/Images/q" + b.Quest.Id + ".jpg")" alt="@b.Quest.Name">
                </a>
                <div class="caption post-content">
                    <table class="blocks-table props-table">
                        <tr>
                            <td>
                                
                            </td>
                            <td class="p-value">
                                <small>@Html.Stars(b.Quest.Complexity)</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    <i class="fa fa-male"></i>
                                </small>
                            </td>
                            <td class="p-value">
                                <small>
                                
                                    @b.Quest.Persons
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-name">
                                <small>
                                    <i class="fa fa-clock-o"></i>
                                </small>
                            </td>
                            <td class="p-value">
                                <small>@b.Quest.Duration.TotalMinutes @Strings.Min</small>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-lg-8">
            @{
                var titleId = "title" + b.Quest.Id;
            }
            <h4 class="booking" id="@titleId">@b.Quest.Name</h4>
            <p style="margin-top: 20px;">@Strings.SelectDate</p>
            <div class="input-group date" style="width: 150px; margin-top: 10px;" id="@b.Quest.Id">
                <input type="text" class="form-control">
                <span class="input-group-addon" style="cursor: pointer;">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
            </div>

            <p style="margin-top: 10px;">
                @Strings.Time
                :
            </p>
            @Html.Partial("_Schedule", new QuestScheduleViewModel
            {
                SelectedDate = Model.SelectedDate,
                QuestSchedule = b
            })
            <p style="margin-top: 20px; margin-bottom: 20px;">
                @*@Html.ActionLink(Strings.Details, "Index", "Info", null, null, "quest" + b.Quest.Id, null, new {@class = "btn btn-warning"})*@
                @Html.RouteLink(Strings.Details, "Quests", new { id = b.Quest.Id }, new { @class = "btn btn-warning" })
                <button data-toggle="modal" data-target="#price" type="button" class="btn btn-warning">@Strings.Cost</button>
            </p>
        </div>
    </div>
}

<div class="modal" id="price" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: steelblue;" id="myModalLabel">@Strings.Cost</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_Cost", Model.Costs)
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-info" data-dismiss="modal">@Strings.Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/schedule")
}
